.header {
    padding: 25px 0 0;

    display: flex;
    justify-content: center;
    align-items: end;
    column-gap: 5px;

    &__img {
        width: min(15.625vw, 70px);
        filter: drop-shadow(var(--logo-box-shadow));
        object-fit: cover;
    }

    &__title {
        font-size: min(10vw, 3rem);
        font-weight: 600;
    }
}